html {
    box-sizing: border-box;
}
*, 
*:before,
*:after{
  box-sizing: inherit;
}
@font-face {
  font-family: Hind Semibold;
  src: url(Hind/Hind-SemiBold.ttf);
}
html, body{
    width: 100%;
    height: 100%;
    color: #000000;
    background-color: #181b1e;
    font-family: Hind Semibold,Helvetica,sans-serif;
}
body{
  margin: 0px 0px 0px 0px;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
/*header*/
.logo{
    margin-top: 8px;
    margin-bottom: 16px;
    height: 24px;
    display: flex;
    justify-content: center;
}

/*main*/
.box{
    font-family: Hind Semibold,Helvetica,sans-serif;
    font-size: 9px;
    background-color: #ffffff;
    padding: 2px 3px 16px 3px;
    margin: 8px 8px 8px 8px;
    border-radius: 4px;    
    max-width: 1023px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.7) inset;
}
h1{
    font-family: Hind Semibold,Helvetica,sans-serif;
    text-align: center;
    color: #181b1e;
    border-bottom: #181b1e solid 1px;
    padding-bottom: 8px;
} 
#gauge, #afstandOverTijd,{
    display: flex;
    justify-content: center;
}
/*Voertuig Informatie*/
#gauge{
}
/*Voertuig Omgeving*/
#afstandOverTijd{
    max-width: 350px; 
    height: 320px;
    margin: 16px 16px 16px 16px;
}
#voertuigOmgeving p{
  font-size: 15px;
  font-family: Helvetica;
  font-weight: lighter;
  color: #6f6f6f;
}
p{
  margin-left: 16px;
}
/*Voorraden*/
#voorraadEten, #voorraadWater{
    max-width: 350px; 
    height: 240px;
    margin: 16px 16px 16px 16px;
}
/*media queries*/
@media only screen and (min-width: 320px) and (max-width: 767px){
  .grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .grid-container{
        grid-template-columns: 1fr 1fr;  
        grid-template-rows: 480px 1fr;   
    }
    #voertuigInformatie{
        grid-row: 1;
        grid-column: 1;
    }
    #voertuigOmgeving{
        grid-row: 1;
        grid-column: 2;
    }
    #voorraden{
        grid-row: 2;
        grid-column: 1/3;
    }
    main{
        padding: 0px 16px 0px 16px;
    }
    .logo{
      height: 27px;
    }
    .box{
      max-width: 1000px;
      font-size: 10px;
    }
    #gauge{
      margin: 0 auto;
    }
    #voorraadEten, #voorraadWater{
      float: left;
      width: 300px;
      margin-left: 32px;
      margin-right: 32px;
    }
    #afstandOverTijd{
      height: 300px;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1599px){
    .grid-container{
        grid-template-columns: 1fr 1fr;  
        grid-template-rows: 1fr 1fr;
        padding-right: 16px;
        padding-left: 8px;   
    }
    #voertuigInformatie{
        grid-row: 1;
        grid-column: 1;
    }
    #voertuigOmgeving{
        grid-row: 1;
        grid-column: 2;
    }
    #voorraden{
        grid-row: 2;
        grid-column: 1/4;
    }
    .logo{
        height: 32px;
        margin-bottom: 24px;
    }
    .box{
      max-width: 1590px;
      margin-left: 16px;
      font-size: 11px;
      box-shadow: 0px 0px 15px rgba(0,0,0,0.7) inset;
    }
    #gauge, #afstandOverTijd, #voorraadEten, #voorraadWater{
      margin: 32px 32px 32px 32px;
    }
    #voorraadEten, #afstandOverTijd, #voorraadWater{
      float: left;
      width: 300px;
    }
    #afstandOverTijd{
      width: 480px;
    }
}
@media only screen and (min-width: 1600px) and (max-width: 1920px){
    .grid-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;   
        grid-template-rows: 1fr; 
    }
    #voertuigInformatie{
        grid-row: 1;
        grid-column: 1;
    }
    #voertuigOmgeving{
        grid-row: 1;
        grid-column: 2;
    }
    #voorraden{
        grid-row: 1;
        grid-column: 3/5;
    }
    main{
      margin: 0px 16px 0px 16px;
    }
    .logo{
      height: 32px;
      margin-bottom: 24px;
    }
    .box{
      max-width: 1200px;
      font-size: 12px;
      box-shadow: 0px 0px 15px rgba(0,0,0,0.7) inset;
      max-height: 500px;
    }
    #gauge, #voorraadEten, #voorraadWater{
      margin: 32px 32px 32px 32px;
    }
    #voorraadEten, #voorraadWater{
      float: left;
      width: 300px;
    }   
}
